*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal ;
}
.wrapper{
    max-width: 1500px;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    align-items: center;
}
.header .logo{
font-weight: 900;
color: rgb(253, 5, 212);
font-size: 2rem;
cursor: pointer;

}
.header .menu{
    display: flex;
    gap: 4rem;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: aliceblue;
}
.video-background{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    z-index: -1;
   opacity: 1.8;
}
.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(68, 68, 63, 0.952);
    mix-blend-mode: overlay;    
}

.content{
    display: flex;
    padding: 2rem;
    width: 30%;
    height: 50vh;
}
.content .sub-content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tittle{
    font-size: 50px;
    font-weight: 600;
    color: rgb(253, 5, 212);
    letter-spacing: 5px;
}
.sub-content .sub-tittle{
    font-size: 30px;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
}
.sub-content .dis{
    color: white;
    letter-spacing: 1px;
}
.explore-more{
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
    color: white;
    background: rgb(253, 5, 212);
    width: 8rem;
    letter-spacing: 0.6;
    cursor: pointer;
}
